.featuresPage {
  background-image: url('../../assets/images/2-min.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  background-position: 1% 50%;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin-bottom: 40px;
}

.images {
  margin-bottom: 40px;
  display: block;
}

.listFirst {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 100%;
}

.mobileImg {
  margin-bottom: 44px;
}

@media screen and (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx) {
  .featuresPage {
    background-image: url('../../assets/images/2@2x-min.png');
  }
}

@media screen and (min-width: 768px) {
  .featuresPage {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tabletImg {
    width: 350px;
  }

  .mobileImg {
    margin-bottom: 0;
  }

  .listFirst {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 32px;
  }

  .item1 {
    grid-column: 1;
    grid-row: span 4;
  }
}

@media screen and (min-width: 1280px) {
  .featuresPage {
    padding-bottom: 100px;
    background-image: url('../../assets/images/features_2_D.png'),
      url('../../assets/images/features_D.png');
    background-position: 1% 19%, 102% -23%;
    background-size: 1500px 1280px, 1200px 600px;
  }

  .featuresContainer {
    padding-left: 155px;
    padding-right: 155px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 84px;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 56px;
  }

  .titleItem {
    font-size: 16px;
    line-height: 1.5;
  }

  .textItem {
    font-size: 14px;
  }

  .desktopItem {
    width: 396px;
  }

  .listFirst {
    grid-template-columns: repeat(3, 1fr);
    gap: 54px 27px;
    grid-template-areas:
      'item3 item2 item6'
      'item4 item2 item7'
      'item5 item2 item8';
    align-items: start;
  }

  .item2 {
    grid-area: item2;
  }

  .item3 {
    grid-area: item3;
    padding-top: 44px;
  }

  .item4 {
    grid-area: item4;
  }

  .item5 {
    grid-area: item5;
  }

  .item6 {
    grid-area: item6;
    padding-top: 44px;
  }

  .item7 {
    grid-area: item7;
  }

  .item8 {
    grid-area: item8;
  }

  .listItem {
    gap: 8px;
  }
}
