.contactUsPage {
  background-color: var(--main-background);
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--white);
  position: relative;
}

.contactUsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-image: url('../../assets/images/contact-us-1-t.png'),
    url('../../assets/images/contact-us-2-t.png');
  background-position: -1px -38px, 129px -38px;
  background-repeat: no-repeat, no-repeat;
  background-size: 250px 541px, 250px 541px;
}

@media screen and (min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
.contactUsContainer {
  background-image: url('../../assets/images/contact-us-1-t@2x.png'),
    url('../../assets/images/contact-us-2-t@2x.png');
}
}

.list {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin-bottom: 14px;
}

.socialBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.descr {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.socLink {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: var(--white);
}

.contacts {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-style: normal;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .contactUsPage {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .contactUsContainer {
    background-image: url('../../assets/images/contact-us-1-t.png'),
      url('../../assets/images/contact-us-2-t.png');
    background-position: 5px -57px, 226px -57px;
    background-repeat: no-repeat, no-repeat;
    background-size: 592px 541px, 592px 541px;
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .contactUsContainer {
      background-image: url('../../assets/images/contact-us-1-t@2x.png'),
        url('../../assets/images/contact-us-2-t@2x.png');
    }
  }

  .title,
  .descr {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
    max-width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .contactUsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 140px;
    background-image: url('../../assets/images/footer_decor_d.png');
    background-position: -41px -162px;
    background-repeat: no-repeat;
    background-size: 1280px 728px;
    overflow: visible;
  }

  @media screen and (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .contactUsContainer {
      background-image: url('../../assets/images/footer_decor_d@2x.png');
    }
  }

  .title {
    grid-column: span 2;
    grid-row: 1;
  }

  .socialBox {
    grid-column: 1;
    grid-row: 2;
  }
}
