.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .headerContainer {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .heroContainer {
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
  .headerContainer {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .featuresContainer {
    padding-left: 155px;
    padding-right: 155px;
  }
}
