.footerPage {
  background-color: var(--main-background);
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid var(--white);
}

.footerText {
  color: var(--white);
  text-align: start;
  max-width: 200px;
  font-weight: 500;
  font-size: 14px;
}

@media screen and (min-width:768px) {
  .footerText{
    max-width: 100%;
  }
}
