.title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.reviewsPage {
  padding-bottom: 40px;
  padding-top: 40px;
  background-image: url("../../assets/images/2-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
